In [19]:
# Code illustrating import of gluon library
!sudo pip install mxnet
from __future__ import division

# Silence warnings
import warnings
warnings.filterwarnings('ignore')

import mxnet as mx
from mxnet import gluon, autograd, ndarray
import numpy as np

%matplotlib inline
from __future__ import division
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats import norm
from scipy import stats
from sklearn.model_selection import train_test_split
from collections import Counter

Requirement already satisfied: mxnet in /usr/local/lib/python2.7/dist-packages
Requirement already satisfied: numpy in /usr/local/lib/python2.7/dist-packages (from mxnet)
Requirement already satisfied: graphviz in /usr/local/lib/python2.7/dist-packages (from mxnet)

Let's decide on some graphic options. Since these data sets have so many columns, it might be nice to see more of them than the default.

In [3]:
pd.set_option('max_columns', 110)
plt.style.use('ggplot')

Here we're reading in our data files and saving them as variables.

In [40]:
persons = pd.read_csv('data/person.csv')
accidents = pd.read_csv('data/accident.csv')
vehicles = pd.read_csv('data/vehicle.csv', encoding ='latin1')  # In case you get encoding errors

accidents.head()

,STATE,ST_CASE,VE_TOTAL,VE_FORMS,PVH_INVL,PEDS,PERNOTMVIT,PERMVIT,PERSONS,COUNTY,CITY,DAY,MONTH,YEAR,DAY_WEEK,HOUR,MINUTE,NHS,RUR_URB,FUNC_SYS,RD_OWNER,ROUTE,TWAY_ID,TWAY_ID2,MILEPT,LATITUDE,LONGITUD,SP_JUR,HARM_EV,MAN_COLL,RELJCT1,RELJCT2,TYP_INT,WRK_ZONE,REL_ROAD,LGT_COND,WEATHER1,WEATHER2,WEATHER,SCH_BUS,RAIL,NOT_HOUR,NOT_MIN,ARR_HOUR,ARR_MIN,HOSP_HR,HOSP_MN,CF1,CF2,CF3,FATALS,DRUNK_DR
0,1,10001,1,1,0,0,0,1,1,127,0,1,1,2015,5,2,40,0,1,3,1,3,SR-5,NaN,1754,33.878653,-87.325328,0,35,0,0,1,1,0,4,2,1,0,1,0,0000000,99,99,2,58,88,88,0,0,0,1,1
1,1,10002,1,1,0,0,0,1,1,83,0,1,1,2015,5,22,13,1,1,1,1,1,I-65,NaN,3604,34.910442,-86.908708,0,34,0,0,1,1,0,3,2,10,0,10,0,0000000,99,99,22,20,88,88,0,0,0,1,0
2,1,10003,1,1,0,0,0,2,2,11,0,1,1,2015,5,1,25,0,1,3,1,2,US-SR 6,NaN,1958,32.142006,-85.758456,0,42,0,0,1,1,0,4,2,1,0,1,0,0000000,99,99,1,45,99,99,0,0,0,1,1
3,1,10004,1,1,0,0,0,1,1,45,0,4,1,2015,1,0,57,0,1,4,1,3,SR-27,NaN,566,31.439814,-85.510300,0,53,0,0,1,1,0,4,2,10,0,10,0,0000000,99,99,1,15,88,88,0,0,0,1,1
4,1,10005,2,2,0,0,0,2,2,45,2050,7,1,2015,4,7,9,0,2,3,1,2,US-SR 53,HINTON WATERS AVE,308,31.319331,-85.515100,0,12,6,0,2,3,0,1,1,1,0,1,0,0000000,99,99,7,16,88,88,0,0,0,1,0

Let's get a baseline assessment of a model's ability to accurately classify an Accident without considering information contained within the Person or Vehicle tables.  Let's prepare our data for the Gluon multi-class classification model.

#Page 32 of FARS Data Manual
We will want to use the following features of the Accident table:

    'PEDS': Persons not in vehicles
    'PERNOTMVIT': Non-motorists in crash
    'VE_TOTAL': All vehicles in crash
    'VE_FORMS': Number of vehicles in transport
    'PVH_INVL': Nubmer of parked, working vehicles
    'PERSONS': Number of persons involved
    'PERMVIT': Number of motorists in accident
    'COUNTY': County where accident occured
    'CITY': City where accident occured
    'MONTH': Month of accident
    'DAY': Day of month of accident
    'DAY_WEEK': Day of week of accident
    'YEAR': Year of crash
    'HOUR': Hour of crash
    'MINUTE': Minute of hour of crash
    'TWAY_ID': Traffic Direction at time of crash
    'TWAY_ID2': Traffic Direction at time of crash
    # Not in data, but in data manual
    # 'CL_TWAY': Routing signal at time of accident
    'ROUTE': Routing signal at time of accident
    'SP_JUR': Special Jurisdiction
    'MILEPT' : Closest mile point
    'LATITUDE' : Latitute
    'LONGITUD': Longitude
    'TYP_INT': Type of intersection
    'REL_ROAD': Relation to Trafficway
    'C_M_ZONE': Work Zone
    'WRK_ZONE': Work Zone
    'LGT_COND': Light condition
    'WEATHER': Weather condition
    'WEATHE1': Weather condition
    'WEATHE2': Weather condition

    # Label
    'MAN_COLL': Manner of Collision
    'PMAN_COLL': Manner of Collision
    'HARM_EV': First injury or damage producing event in crash
    
    
*All features have scale/index discontinuities over the history of the data; this must be accounted for on a feature-by-feature basis

In [79]:
sub_features = [
    'PEDS',
    'PERNOTMVIT',
    'VE_TOTAL',
    'VE_FORMS',
    'PVH_INVL',
    'PERSONS',
    'PERMVIT',
    'COUNTY',
    'CITY',
    'MONTH',
    'DAY',
    'DAY_WEEK',
    'HOUR',
    #Following 2 features are the same over different time horizons
#     'TWAY_ID',
#     'TWAY_ID2',
    #Following 2 features are the same over different time horizons
#     'CL_TWAY',
    'ROUTE',
    'TYP_INT',
    'LGT_COND',
    #Following 3 features are the same over different time horizons
    'WEATHER',
#     'WEATHER1',
#     'WEATHER2'
    'DRUNK_DR',
    
    # LABELS: We can choose which to prediect
    # Manner of Collision
    'MAN_COLL'
    # First Harmul Event
#     'HARM_EV'
]

df_accidents = accidents[sub_features]
df_accidents.head()

,PEDS,PERNOTMVIT,VE_TOTAL,VE_FORMS,PVH_INVL,PERSONS,PERMVIT,COUNTY,CITY,MONTH,DAY,DAY_WEEK,HOUR,ROUTE,TYP_INT,LGT_COND,WEATHER,DRUNK_DR,MAN_COLL
0,0,0,1,1,0,1,1,127,0,1,1,5,2,3,1,2,1,1,0
1,0,0,1,1,0,1,1,83,0,1,1,5,22,1,1,2,10,0,0
2,0,0,1,1,0,2,2,11,0,1,1,5,1,2,1,2,1,1,0
3,0,0,1,1,0,1,1,45,0,1,4,1,0,3,1,2,10,1,0
4,0,0,2,2,0,2,2,45,2050,1,7,4,7,2,3,1,1,0,6

Now that we have a sparse dataframe with features and labels (HARM_EV), we'll want to encode our categorical feautures.  Before we do that, let's decrease some of the sparsity by removing features that are missing more than half of their values.

In [80]:
# Almost all instances of 0 map to None, so we will remove columns that have an abundance of them
def trim_features(data_frame, ratio, label):
    print 'Begining columns:', len(data_frame.columns)
    # columns not to apply trim_features to
    leave_out = [label, 'DRUNK_DR']
    rows = data_frame.shape[0]
    for col in data_frame.columns:
        non_zeros = data_frame[col].astype(bool).sum(axis=0)
        # If there are more zeros than a given ratio, drop column
        if col in leave_out:
            break
        elif (non_zeros/rows)<ratio:
            data_frame.drop([col], axis=1, inplace=True)
    
    print 'Ending columns:', len(data_frame.columns)
    return data_frame
        
    
# Trim geographical columns
def trim_geo(data_frame, columns):
    for col in columns:
        data_frame[col] = data_frame[col].apply(lambda x: 0 if x>9995 else x)
    return data_frame
        

# TODO: trim_geo on CITY too
df_accidents_trimmed = trim_geo(df_accidents, ['COUNTY'])
df_accidents_trimmed = trim_features(df_accidents, 0.5, 'MAN_COLL')

df_accidents_trimmed.head()

Begining columns: 19
Ending columns: 15

,VE_TOTAL,VE_FORMS,PERSONS,PERMVIT,COUNTY,MONTH,DAY,DAY_WEEK,HOUR,ROUTE,TYP_INT,LGT_COND,WEATHER,DRUNK_DR,MAN_COLL
0,1,1,1,1,127,1,1,5,2,3,1,2,1,1,0
1,1,1,1,1,83,1,1,5,22,1,1,2,10,0,0
2,1,1,2,2,11,1,1,5,1,2,1,2,1,1,0
3,1,1,1,1,45,1,4,1,0,3,1,2,10,1,0
4,2,2,2,2,45,1,7,4,7,2,3,1,1,0,6

Now that we have semi-dense data, let's one-hot encode our cateogrical features

In [ ]:
sub_feature_classes = {
    'COUNTY': 1000,
    'CITY': 1000,
    'MONTH': 13,
    'DAY': 31,
    'DAY_WEEK': 7,
    'HOUR': 24,
    'ROUTE': 9,
    'TYP_INT': 10,
    'LGT_COND': 9,
    'WEATHER': 14,
    'DRUNK_DR': 2,
    
    'HARM_EV': 100,
    # LABEL
    'MAN_COLL': 100
}


# One-hot encode all categorical features within a dataframe
def one_hot_encode_matrix(feature_matrix, label):
    print feature_matrix
    def one_hot_encode(x, n_classes):
        return np.eye(n_classes)[x]

    # First we want to encode the label
    y = one_hot_encode(feature_matrix[label], sub_feature_classes[label])
    
    # Now encode input features
    for col in feature_matrix:
        if col in sub_feature_classes:
            x = one_hot_encode(feature_matrix[col], sub_feature_classes[col])
            feature_matrix[col] = x


one_hot_encode_matrix(df_accidents_trimmed, 'MAN_COLL')

       VE_TOTAL  VE_FORMS  PERSONS  PERMVIT  COUNTY  MONTH  DAY  DAY_WEEK  \
0             1         1        1        1     127      1    1         5
1             1         1        1        1      83      1    1         5
2             1         1        2        2      11      1    1         5
3             1         1        1        1      45      1    4         1
4             2         2        2        2      45      1    7         4
5             1         1        2        2     111      1    8         5
6             1         1        2        2      89      1    8         5
7             1         1        1        1      73      1    3         7
8             1         1        1        1     117      1   13         3
9             2         2        2        2      33      1    5         2
10            2         2        2        2      83      1    7         4
11            3         3        6        6      95      1    9         6
12            1         1        1        1      87      1   10         7
13            1         1        1        1      11      1   11         1
14            1         1        1        1     127      1   11         1
15            2         2        2        2      81      1   13         3
16            1         1        1        1      97      1   14         4
17            1         1        2        2       1      1   16         6
18            1         1        1        1     121      1   19         2
19            2         2        3        3     121      1   15         5
20            2         2        4        4     115      1   23         6
21            1         1        2        2     127      1   26         2
22            1         1        1        1      11      1   12         2
23            1         1        1        1       5      1    2         6
24            1         1        2        2     125      1   15         5
25            1         1        1        1      73      1   13         3
26            2         2        3        3       3      1   17         7
27            1         1        1        1       1      1   10         7
28            1         1        1        1      69      1   23         6
29            2         2        5        5      21      1   24         7
...         ...       ...      ...      ...     ...    ...  ...       ...
32136         2         2        2        2      25      9   18         6
32137         1         1        2        2      45      9   19         7
32138         4         1        1        1      25      9   30         4
32139         1         1        2        2      25     10    3         7
32140         1         1        1        1      21     10   10         7
32141         1         1        1        1       9     10   10         7
32142         1         1        1        1       7     10   17         7
32143         1         1        1        1       1     10   19         2
32144         2         2        2        2      25     10   22         5
32145         1         1        2        2      37     10   25         1
32146         1         1        1        1       3     10   22         5
32147         1         1        2        2      13     10   31         7
32148         1         1        1        1       9     10   27         3
32149         1         1        2        2       5     11    3         3
32150         1         1        3        3      13     11   10         3
32151         1         1        2        2       9     11    5         5
32152         1         1        2        2      25     11   11         4
32153         1         1        1        1      31     11   14         7
32154         2         2        2        2      13     11   14         7
32155         1         1        2        2      41     11    3         3
32156         2         2        2        2      25     11    6         6
32157         2         2        2        2      37     11   19         5
32158         1         1        2        2      39     11   23         2
32159         1         1        5        5      33     11   24         3
32160         2         2        2        2       1     12    6         1
32161         2         2        2        2      25     12    9         4
32162         1         1        3        3      21     12   10         5
32163         2         2        2        2      21     12   13         1
32164         2         2        4        4      21     12   14         2
32165         1         1        1        1      33     12   19         7

       HOUR  ROUTE  TYP_INT  LGT_COND  WEATHER  DRUNK_DR  MAN_COLL
0         2      3        1         2        1         1         0
1        22      1        1         2       10         0         0
2         1      2        1         2        1         1         0
3         0      3        1         2       10         1         0
4         7      2        3         1        1         0         6
5         9      4        1         1        1         0         0
6        18      2        1         3        1         0         0
7        21      6        1         2        2         0         0
8         8      2        1         1       10         0         0
9        18      3        1         2        1         0         2
10       20      3        1         2        1         0         7
11        6      2        1         1        1         0         6
12       10      4        1         1        1         1         0
13        6      2        1         1       10         1         0
14        8      4        1         1        1         0         0
15       17      3        1         3       10         0         6
16       14      4        1         1       10         0         0
17       19      4        1         2        1         1         0
18        1      4        1         2        1         0         0
19       17      6        2         2        2         0         6
20       13      1        1         1        2         0         1
21        6      1        1         2        1         0         0
22       21      3        1         2        5         1         0
23        6      4        1         4        1         0         0
24        3      4        1         2        1         1         0
25       13      6        3         1       10         0         0
26       14      4        2         1        1         0         6
27        0      3        1         2        1         1         0
28        5      2        3         2        2         0         0
29       13      3        1         1        1         0         2
...     ...    ...      ...       ...      ...       ...       ...
32136    23      2        1         2        1         2         2
32137    11      2        1         1        1         1         0
32138    18      5        1         1        1         1         0
32139     4      1        1         2       10         1         0
32140     6      3        1         1        1         0         0
32141    23      3        1         2        1         1         0
32142     4      3        1         2        1         1         0
32143    15      3        1         1        1         1         0
32144    15      3        1         1       10         0         2
32145    11      3        1         1        1         0         0
32146    17      2        1         1        1         1         0
32147    99      3        1         2        1         1         0
32148     6      3        4         2        2         0         0
32149    22      3        1         2       99         0         0
32150    10      6        1         1        1         1         0
32151    19      6        1         2       10         0         0
32152     3      2        1         2        1         1         0
32153    22      1        1         2        1         0         0
32154    15      2        1         1        1         1         2
32155     4      4        1         2        1         1         0
32156    17      5        3         2        1         0         6
32157    16      1        1         1        1         1         7
32158    17      2        1         2        1         0         0
32159     0      1        1         2        1         0         0
32160     0      2        1         2        1         0         2
32161     6      3        1         4        1         0         2
32162    22      2        2         3        1         1         0
32163    11      2        2         1        1         0         6
32164    23      2        1         2        4         0         6
32165    21      2        1         2        1         0         0

[32166 rows x 15 columns]
x 0        0
1        0
2        0
3        0
4        6
5        0
6        0
7        0
8        0
9        2
10       7
11       6
12       0
13       0
14       0
15       6
16       0
17       0
18       0
19       6
20       1
21       0
22       0
23       0
24       0
25       0
26       6
27       0
28       0
29       2
        ..
32136    2
32137    0
32138    0
32139    0
32140    0
32141    0
32142    0
32143    0
32144    2
32145    0
32146    0
32147    0
32148    0
32149    0
32150    0
32151    0
32152    0
32153    0
32154    2
32155    0
32156    6
32157    7
32158    0
32159    0
32160    2
32161    2
32162    0
32163    6
32164    6
32165    0
Name: MAN_COLL, Length: 32166, dtype: int64
x 0        127
1         83
2         11
3         45
4         45
5        111
6         89
7         73
8        117
9         33
10        83
11        95
12        87
13        11
14       127
15        81
16        97
17         1
18       121
19       121
20       115
21       127
22        11
23         5
24       125
25        73
26         3
27         1
28        69
29        21
        ...
32136     25
32137     45
32138     25
32139     25
32140     21
32141      9
32142      7
32143      1
32144     25
32145     37
32146      3
32147     13
32148      9
32149      5
32150     13
32151      9
32152     25
32153     31
32154     13
32155     41
32156     25
32157     37
32158     39
32159     33
32160      1
32161     25
32162     21
32163     21
32164     21
32165     33
Name: COUNTY, Length: 32166, dtype: int64